files:
  "C:\\Users\\Public\\Downloads\\MoniverseService\\InstallConfigureMoniverse.ps1":
    source: https://s3.amazonaws.com/playversecdn/SmartMoniverseServiceInstall.ps1
  "C:\\Users\\Public\\Downloads\\MoniverseService\\MoniMonitor.ps1":
    source: https://s3.amazonaws.com/moniverse-msi/MoniMonitor.ps1
  "C:\\Users\\Public\\Downloads\\MoniverseService\\MoniMonitor.bat":
    source: https://s3.amazonaws.com/moniverse-msi/MoniMonitor.bat
container_commands:

