files:
  "C:\\Users\\Public\\Downloads\\StackDriver\\StackdriverAgent.conf":
    content: |
      21VSYN7NJL9XG9JS5ETNDP0DJ830A5DA
  "C:\\Users\\Public\\Downloads\\StackDriver\\InstallStackdriverAgent.ps1":
    source: https://playversecdn.s3.amazonaws.com/InstallStackdriverAgent.ps1
container_commands:
  01-stackdriveragent-install:
    command: powershell.exe -ExecutionPolicy Bypass -File "C:\\Users\\Public\\Downloads\\StackDriver\InstallStackdriverAgent.ps1"
    waitAfterCompletion: 0