<div class="chart-wrapper">
    <modaloptions></modaloptions>
    <div class="chart-stage">
        <highchart style="position: relative; top: 43px;" config="vm.ChartConfig"></highchart>
        <button class="btn zoom-btn" ng-click="vm.resetZoom()">reset the zoom</button>
    </div>
</div>
