<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">&nbsp; &nbsp; &nbsp; &nbsp;</span></a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <!-- TODO: Login with playverse UI -->
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div pv-nav-login=""></div>         
                </li>
            </ul>
        </div>
    </div>
</nav>