<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
	<bindings>
	  <netTcpBinding>
	    <binding name="netTcpBindingConfig" transferMode="Buffered" maxReceivedMessageSize="2147483647">
	      <readerQuotas maxArrayLength="5242880"/>
	      <security mode="None"/>
	    </binding>
	  </netTcpBinding>
	</bindings>
    <services>
      <service name="Moniverse.Service.WriterService" behaviorConfiguration="mexServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:50123/moniverse"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" contract="Moniverse.Contract.IWriterService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexServiceBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PCLStorage.Abstractions" publicKeyToken="286fe515a2c35b64" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PCLStorage" publicKeyToken="286fe515a2c35b64" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
